.clear {
    clear: both;
}

.homepage_tile {
    float: left;
    text-align: center;
}

.homepage_tile a {
    border: 1px solid black;
    padding: 20% 0;
    display: block;
    height: 100%;
    width: 98%;
    margin: 5px 0;
}

table tbody tr:nth-child(even) {
    background-color: #EEE;
}

body {
    padding: 1%;
}

#prijemce_aliasy {
    font-family: "Courier New", monospace;
}