.clear {
    clear: both;
}

.homepage_tile {
    float: left;
    text-align: center;
}

.homepage_tile a {
    border: 1px solid #9c4c8a;
    padding: 20% 0;
    display: block;
    height: 100%;
    width: 98%;
    margin: 5px 0;
    font-size: 2em;
    color: #351a2f;
    background: #fff;
}

.homepage_tile a:hover {
    text-decoration: underline;
}

table tbody tr:nth-child(even) {
    background-color: #EEE;
}

.container, nav {
    padding: 1%;
}

#prijemce_aliasy {
    font-family: "Courier New", monospace;
}

hr {
    color: #351a2f;
    background-color: #351a2f;
    border-color: #351a2f;
}

h1 {
    color: #462B40;
}

table thead, table tbody tr:nth-child(even), table tfoot {
    background: #f7f0f6;
}

table thead a, table tfoot a, table a, table tbody a, a, a:visited, a:link, a:active {
    text-decoration: none;
    color: #000;
}

table thead a:hover, table tfoot a:hover, table a:hover, table tbody a:hover {
    text-decoration: underline;
    color: #000;
}

table tr th {
    padding: 0.5625rem 0.625rem;
}

.datatable {
    width: 100%;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

button.dt-button, div.dt-button, a.dt-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0.333em;
    padding: 0.5em 1em;
    border: 1px solid #999;
    border-radius: 2px;
    cursor: pointer;
    font-size: 0.88em;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    background-color: #e9e9e9;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: -moz-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: -ms-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='white', EndColorStr='#e9e9e9');
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    outline: none;
}

.dataTables_empty {
    font-size: 3em;
    margin: 10%;
    padding: 10% !important;
    text-align: center;
    color: #35002f;
    width: 400%;
}