.homepage_tiles {
    width: 80%;
    margin: 0 auto;
    height: auto;
    min-height: 100px;
}

.clear {
    clear: both;
}

.homepage_tile {
    height: 200px;
    width: 300px;
    text-align: center;
    float: left;
    border: 1px solid black;
}

.homepage_tile a {
    padding-top: 90px;
    display: block;
    height: 100%;
    width: 100%;
}

body {
    padding: 1%;
}